<% provide(:title) %>
<div class="slogan">
</div>
<div class="body">
  <div class="body_resize">
    <div class="row">
      <div class="left col-sm-8">
        <% if user_signed_in? %>
          <% if current_user.following.any? %>
            <% current_user.following.each do |followed| %>
              <% followed.reviews.order(created_at: :desc).each do |review| %>
                <div class="row">
                  <div class="col-sm-4">
                    <img src="<%= review.book.picture %>" class="home-book-image">
                  </div>
                  <div class="col-sm-8">
                    <h2>
                      <%= link_to review_path(review), data: {turbolinks: false} do %>
                        <%= review.book.title %>
                      <% end %>
                    </h2>
                    <span><b><%= review.title %></b></span><br>
                    <span class="post-date">
                      <% if review.book.categories.any? %>
                        <% review.book.categories.each do |category| %>
                          <%= link_to t(category.title), category_path(category),
                            data: {turbolinks: false} %>
                          <% unless category == review.book.categories.last %>/<% end %>
                        <% end %>
                      <% end %>
                    </span><br>
                    <span class="post-date">
                      Reviewed by 
                      <%= link_to review.user.name, user_path(review.user),
                        data: {turbolinks: false} %>
                    </span>&nbsp;&nbsp;|
                    <div class="wrapIcon comment">
                      <span class="glyphicon glyphicon-time amount"></span>
                      <span title="<%= review.created_at.to_s %>" class="amount">
                        <%= review.created_at.strftime("%d %b %Y") %>
                      </span>
                    </div>&nbsp;&nbsp;|
                    <div class="wrapIcon comment">
                      <span class="fa fa-comments"></span>&nbsp;
                      <p class="amount comment ng-binding">
                        <%= review.comments.count %>
                      </p>
                    </div>&nbsp;&nbsp;|
                    <div class="wrapIcon like">
                      <span class="fa fa-thumbs-o-up"></span>&nbsp;
                      <p class="amount like ng-binding">
                        <%= review.likes.count %>
                      </p>
                    </div>
                    <p>
                      <%= truncate_html(review.content, length: 350, omission: ' ...') %>
                    </p>
                  </div>
                </div>
                <hr>
              <% end %>
            <% end %>
          <% else %>
            <% @reviews.each do |review| %>
              <div class="row">
                <div class="col-sm-4">
                  <img src="<%= review.book.picture %>" class="home-book-image">
                </div>
                <div class="col-sm-8">
                  <h2>
                    <%= link_to review_path(review), data: {turbolinks: false} do %>
                      <%= review.book.title %>
                    <% end %>
                  </h2>
                  <span><b><%= review.title %></b></span><br>
                  <span class="post-date">
                    <% if review.book.categories.any? %>
                      <% review.book.categories.each do |category| %>
                        <%= link_to t(category.title), category_path(category),
                          data: {turbolinks: false} %>
                        <% unless category == review.book.categories.last %>/<% end %>
                      <% end %>
                    <% end %>
                  </span><br>
                  <span class="post-date">
                    Reviewed by <%= link_to review.user.name, user_path(review.user),
                    data: {turbolinks: false} %>
                  </span>&nbsp;&nbsp;|
                  <div class="wrapIcon comment">
                    <span class="glyphicon glyphicon-time amount"></span>
                    <span title="<%= review.created_at.to_s %>" class="amount">
                      <%= review.created_at.strftime("%d %b %Y") %>
                    </span>
                  </div>&nbsp;&nbsp;|
                  <div class="wrapIcon comment">
                    <span class="fa fa-comments"></span>&nbsp;
                    <p class="amount comment ng-binding">
                      <%= review.comments.count %>
                    </p>
                  </div>&nbsp;&nbsp;|
                  <div class="wrapIcon like">
                    <span class="fa fa-thumbs-o-up"></span>&nbsp;
                    <p class="amount like ng-binding">
                      <%= review.likes.count %>
                    </p>
                  </div>
                  <p>
                    <%= truncate_html(review.content, length: 350, omission: ' ...') %>
                  </p>
                </div>
              </div>
              <hr>
            <% end %>
          <% end %>
  
        <% else %>
          <% @reviews.each do |review| %>
            <div class="row">
              <div class="col-sm-4">
                <img src="<%= review.book.picture %>" class="home-book-image">
              </div>
              <div class="col-sm-8">
                <h2>
                  <%= link_to review_path(review), data: {turbolinks: false} do %>
                    <%= review.book.title %>
                  <% end %>
                </h2>
                <span><b><%= review.title %></b></span><br>
                <span class="post-date">
                  <% if review.book.categories.any? %>
                    <% review.book.categories.each do |category| %>
                      <%= link_to t(category.title), category_path(category),
                        data: {turbolinks: false} %>
                      <% unless category == review.book.categories.last %>/<% end %>
                    <% end %>
                  <% end %>
                </span><br>
                <span class="post-date">
                  Reviewed by <%= link_to review.user.name, user_path(review.user),
                  data: {turbolinks: false} %>
                </span>&nbsp;&nbsp;|
                <div class="wrapIcon comment">
                  <span class="glyphicon glyphicon-time amount"></span>
                  <span title="<%= review.created_at.to_s %>" class="amount">
                    <%= review.created_at.strftime("%d %b %Y") %>
                  </span>
                </div>&nbsp;&nbsp;|
                <div class="wrapIcon comment">
                  <span class="fa fa-comments"></span>&nbsp;
                  <p class="amount comment ng-binding">
                    <%= review.comments.count %>
                  </p>
                </div>&nbsp;&nbsp;|
                <div class="wrapIcon like">
                  <span class="fa fa-thumbs-o-up"></span>&nbsp;
                  <p class="amount like ng-binding">
                    <%= review.likes.count %>
                  </p>
                </div>
                <p>
                  <%= truncate_html(review.content, length: 350, omission: ' ...') %>
                </p>
              </div>
            </div>
            <hr>
          <% end %>
        <% end %>
      </div>
  
      <div class="right col-sm-4">
        <h3>Top books</h3>
        <% @top_books.each do |book| %>
        　<div class="row">
            <div class="col-sm-4">
              <img src="<%= book.try :picture %>" class="home-book-image">
            </div>
            <div class="col-sm-8">
              <h3 class="home-book-title"><%= book.title %></h3>
              <% if book.authors.any? %>
                <span>by </span>
                <% book.authors.each do |author| %>
                  <span><%= author.name %>.</span>
                <% end %>
              <% end %>
            </div>
          </div>
        <% end %>
      </div>
      <div class="clr"></div>
    </div>
  </div>
</div>
