<p id="notice"><%= notice %></p>

<h1>Users</h1>

<%= search_form_for @q do |f| %>
 
  <%= f.label :username_or_name_cont %>
  <%= f.search_field :username_or_name_cont %>

  <%= f.submit %>
<% end %>


<style>
table {
	border-collapse: collapse;
}
td {
	border: solid 1px;
	padding: 0.5em;
}
</style>


<table>
  <thead>
    <tr>
      <th colspan="3"></th>
    </tr>
  </thead>
  
    <tr>
    <td><b>Username</b></td>
    <td><b>Name</b></td>
    <td></td>
  </tr>

  
  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.username %></td>
        <td><%= user.name %></td>
        <td><%= link_to 'Show', user %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
