<%= form_with(model: feedback, local: true) do |form| %>
  <% if feedback.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(feedback.errors.count, "error") %> prohibited this feedback from being saved:</h2>

      <ul>
      <% feedback.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="form-group">
    <%= form.label :email %>
    <%= form.text_field :email, class:"form-control", id: :feedback_email,placeholder:"Enter Your Email"%>
  </div>

  <div class="form-group">
    <%= form.label :name %>
    <%= form.text_field :name, id: :feedback_name, class:"form-control", placeholder:"Enter Your Name" %>
  </div>

  <div class="form-group">
    <%= form.label :subject %>
    <%= form.text_field :subject, id: :feedback_subject, class:"form-control", placeholder:"Enter Your Subject" %>
  </div>

  <div class="form-group">
    <%= form.label :content %>
    <%= form.text_area :content, id: :feedback_content, class:"form-control", placeholder:"Enter Your Content" %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>

        
                       
                